@charset "UTF-8";

.tb{
  display:none;
}
.sp{
  display:none;
}
.tbsp{
  display:none;
}

body{
  background-color:#c1d1e0;
  width:80%;
  margin:0 auto;
  max-width:1536px;
  color:#525252;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

header{
  height:168px;
}
.header-nav{
  display:flex;
  justify-content:right;
  align-items:center;
  height:100%;
}
.header-nav li{
  font-size:24px;
  width:172px;
  display:flex;
  justify-content:right;
  align-items:center;
  transition:.2s ease-in-out;
}

.header-nav li.mouse{
  font-size:28px;
  transition:.2s ease-in-out;
}


.mv{
  position:relative;
}
.mv-item h1{
  position:absolute;
  top:210px;
  font-size:64px;
}


.mv-img{
  background-image:url(Portfolio-image/mv-5-2.jpg);
  width:79%;
  height:700px;
  margin-left:auto;
}


/*======main=======*/
main{
  margin-bottom:240px;
}
section{
  margin-top:240px;
}
main h1{
  font-size:48px;
  margin-bottom:36px;
}

/*works*/
.all-works-item{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  column-gap:12.7%;
  row-gap:120px;
}


.works-item{
  opacity:0;
  transform:translateY(10px);
}

.thumbnail{
  width:100%;
}
.works-item p{
  text-align:center;
  padding-top:14px;
}


/*about*/
.about-item{
  display:flex;
}
.about-img{
  width:46%;
  margin-right:12.7%;
}
.about-text{
  display:flex;
  align-items: center;
  font-size:18px;
}

/*contact*/
.contact-item{
  width:100%;
}
.contact-item p{
  text-align: center;
  font-size:42px;
  padding-top:120px;
  border-bottom:1px solid #525252;
}





/*==============pages=============*/

.pages-title{
  font-size:36px;
}
.pages-thumbnail p{
  transition:.1s ease;
  margin-bottom:10px;
}
.pages-thumbnail p.mouse{
font-size:18px;
transition:.1s ease;
margin-bottom:8px;
}

.explanation{
  margin:50px 0 160px 0;
}
.explanation1{
  margin-bottom:80px;
}
.explanation1 h2{
  font-size:28px;
}
table{
  margin-top:50px;
}
table tr td{
  font-size:18px;
  padding-bottom:20px;
  padding-right:20px;
}

.explanation2-items li{
  margin-bottom:70px;
}
.explanation2-items li h3{
  font-size:21px;
  padding-bottom:5px;
}
.explanation2-items li p{
  font-size:16px;
}
.top-btn-box{
  margin-top:120px;
  width:100%;
  display:flex;
  justify-content:right;
  align-items:center;
}
.top-btn{
  height:50px;
  width:20%;
  border-radius:10px;
  border:1px solid #fff;
  background-color:#fff;
  font-size:18px;
  transition:.2s ease;
}
.top-btn.mouse{
  background-color:#4180bb;
  border-color:#4180bb;
  transition:.2s ease;
  font-size:20px;
  color:#fff;
}
.top-btn a{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}








/*===========tb==========*/

@media screen and (max-width:960px) {
  .pc{
    display:none;
  }
  .tb{
    display:flex;
  }
  .tbsp{
    display:flex;
  }
 
  header{
    height:120px;
  }



  /*====ハンバーガーメニュー====*/
  .hamburger-menu{
    width:48vw;
    height:100vh;
    background-color:#eeee;
    position:absolute;
    top:0;
    right:0;
    z-index:1000;
    position:fixed;
    display:none;
    opacity:0;
  }

  .hamburger-menu-list{
    display:flex;
    flex-direction:column;
    color:#525252;
    align-items: center;
    padding-top:30vh;
  }

  .hamburger-menu-list li{
    font-size:24px;
    transition:.2s ease-in-out;
    height:74px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .hamburger-menu-list li.mouse{
    font-size:28px;
    transition:.2s ease-in-out;
  }


  /*==メニュー開くアニメーション==*/
  .hamburger-menu.open{
    display:block;
    opacity:1;
    animation-name:hamburger-open;
    animation-duration:1s;
  }
  @keyframes hamburger-open{
    0%{
      width:0%;
    }
    100%{
      width:48vw;
    }
  }


/*==メニュー閉じるアニメーション==*/
  .hamburger-menu.close{
    width:0%;
    opacity:1;
    animation-name:hamburger-close;
    animation-duration:1s;
    display:-webkit-box;
  }
  @keyframes hamburger-close{
    0%{
      width:48vw;
    }
    100%{
      width:0%;
      opacity:0;
    }
  }



  /*=====ハンバーガーメニューボタン======*/
  .hamburger-box{
    width:50px;
    height:50px;
    background-color:#c1d1e0;
    position:absolute;
    top:30px;
    right:10%;
    z-index:1000;
  }
  .hamburger-btn{
    width:100%;
    height:36px;
    position:relative;
    top:7px;
    background:transparent;
  }

  .hamburger-btn span{
    background:#525252;
    height:4px;
    width:100%;
    position:absolute;
    transition:all.4s;
  }
  .hamburger-btn span:nth-child(1){
    top:0;
  }
  .hamburger-btn span:nth-child(2){
    top:16px;
  }
  .hamburger-btn span:nth-child(3){
    bottom:0;
  }



/*===ボタン開くアニメーション===*/
  .hamburger-box.open{
    position:absolute;
    right:49vw;
    animation-name:btn-open;
    animation-duration: 1s;
  }
  @keyframes btn-open{
    0%{
      right:10%;
    }
    100%{
      right:49vw;
    }
  }
  .hamburger-box.open span:nth-child(1){
    transform:translateY(16px) rotate(45deg);
  }
  .hamburger-box.open span:nth-child(2){
    opacity:0;
  }
  .hamburger-box.open span:nth-child(3){
    transform:translateY(-16px) rotate(-45deg);
  }


  /*===ボタン閉じるアニメーション===*/
  .hamburger-box.close{
    position:absolute;
    right:10%;
    animation-name:btn-close;
    animation-duration:1s;
  }
  @keyframes btn-close{
    0%{
      right:49vw;
    }
    100%{
      right:10%;
    }
  }


  .mask{
    background-color:#adbbc9;
    opacity:0;
    display:none;
    width:100vw;
    height:100vh;
    position:fixed;
    left:0;
    z-index:500;
  }
  .mask.open{
    display:flex;
    opacity:0.5;
  }


  /*main*/

  .mv-item h1{
    font-size:42px;
    top:190px;
  }
  .mv-img{
    background-image:url(Portfolio-image/mv-tb.jpg);
    width:90%;
    height:507px;
  }

  section{
    margin-top:120px;
  }
  main h1{
    font-size:36px;
  }


  /*works*/
  .all-works-item{
    row-gap:60px;
  }

  /*about*/
  .about-img{
    width:50%;
    height:235px;
    margin-right:0%;
  }
  .about-text{
    font-size:14px;
    width:50%;
    padding-left:5%;
  }


  /*====contact=====*/
  .contact-item p{
    font-size:24px;
  }


  /*pages*/
.top-btn{
  width:40%;
}

}





/*========sp========*/

  @media screen and (max-width:480px) {


    .sp{
      display:flex;
    }
    .tb{
      display:none;
    }



    /*ハンバーガーメニュー調節*/
    .hamburger-menu{
      width:75vw;
  
    }
    @keyframes hamburger-open{
      0%{
        width:0%;
      }
      100%{
        width:75vw;
      }
    }
    @keyframes hamburger-close{
      0%{
        width:75vw;
      }
      100%{
        width:0%;
        opacity:0;
      }
    }


    /*ボタン調節*/
    .hamburger-box{
      width:40px;
      height:40px;
      right:2.5%;
      top:30px;
      position:fixed;
    }
    .hamburger-btn{
      height:30px;
      top:5px;
    }
    .hamburger-btn span:nth-child(2){
      top:13px;
    }
    .hamburger-box.open{
      right:76vw;
      position:fixed;
    }
    @keyframes btn-open{
      0%{
        right:2.5%;
      }
      100%{
        right:76vw;
      }
    }
    .hamburger-box.open span:nth-child(1){
      transform:translateY(13px) rotate(45deg);
    }
    .hamburger-box.open span:nth-child(3){
      transform:translateY(-13px) rotate(-45deg);
    }
    .hamburger-box.close{
      right:2.5%;
      position:fixed;
    }
    @keyframes btn-close{
      0%{
        right:76vw;
      }
      100%{
        right:2.5%;
      }
    }



    /*main*/
    body{
      width:95%;
      max-width:480px;
    }
    header{
      height:100px;
    }
    section{
      width:70%;
      margin:120px auto 0 auto;
    }
    .mv-img{
      background-image:url(Portfolio-image/mv-sp.jpg);
      width:95%;
      height:350px;
      margin:0 auto;
    }
    .mv-item h1{
      font-size:24px;
      top:163px;
    }
    main h1{
      font-size:24px;
    }


    /*works*/
    .all-works-item{
      display:flex;
      flex-direction:column;
      row-gap:90px;
    }

    /*about*/
    .about-item{
      flex-direction:column;
      row-gap:20px;
    }
    .about-img{
      width:100%;
    }
    .about-text{
      width:100%;
      text-align: center;
    }

    /*contact*/
    .contact-item p{
      font-size:16px;
    }


    /*pages*/
    .pages-title{
      font-size:24px;
    }

    .explanation1 h2{
      font-size:18px;
    }

    table tr td{
      font-size:14px;
      padding-right:5px;
      padding-bottom:10px;
    }
    .explanation2-items li{
      margin-bottom:40px;
    }
    .explanation2-items li h3{
      font-size:18px;
    }
    .explanation2-items li p{
      font-size:14px;
    }
    .pages-thumbnail p{
      font-size:12px;
    }
    .pages-thumbnail p.mouse{
      font-size:14px;
    }

    .top-btn-box{
      justify-content:center;
    }

 


    


  }



