@charset "UTF-8";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese");



.pc{
  display:block;
}
.sp{
  display:none;
}
.tb{
  display:none;
}

/* ===========================================
 *index.html
 * ======================================== */



/* header
------------------------------------------ */
.header{
  max-width: 1440px;
  width:100vw;
  height:80px;
  background-color: transparent;
  position:fixed;
  z-index:10000;
}
.header__inner{
  display: flex;
  padding: 30px 10% 0 10%;
  justify-content: space-between;
}
.header__logo h1 {
  font-size: 19px;
  font-family: 'Raleway', sans-serif;
  margin-top:0.7em;
  white-space:nowrap;
}
.header__logo h1 span {
  font-size: 14px;
}
.header__list {
  display:flex;
  font-weight:bold;
}
.header__list li a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin:0 0.8vw;
}
.header__list li a:hover {
  font-weight: bold;
}
.header__sns {
  display: -webkit-box;
  display: -ms-flexbox;
}
.header__sns li {
  margin:0 0.8vw;
}


/* ハンバーガーメニュー */
.header__hamburger {
  position: relative;
  width: 28px;
  height: 24px;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  display: none;
}
.header__hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 4px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__hamburger span:first-of-type {
  top: 0;
}
.header__hamburger span:last-of-type {
  bottom: 0;
}
.header__hamburger.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}
.header__hamburger.active span:nth-of-type(2) {
  opacity: 0;
}
.header__hamburger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
          transform: translateY(-12px) rotate(45deg);
}
.header__nav {
  width: 100%;
  height: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-animation: menu 0.3s ease-out;
          animation: menu 0.3s ease-out;
}
.header__nav li {
  width: 100%;
  padding: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
.header__nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  opacity: 1;
}



/* MV
------------------------------------------ */
.mv{
  width:100vw;
  max-width:1440px;
  height:100vh;
  position: relative;
}
.mv video{
  width:100%;
  height:100%;
  object-fit:cover;
}
.mv__text{
  position:absolute;
  top:50%;
  left:9.8%;
  transform: translate(-9.8%,-50%);
}
.mv__text h1{
  font-size:110px;
}
.medium{
  font-size:20px;
  font-weight:bold;
}



/* MAIN
------------------------------------------ */
.main{
  height:auto;
  margin:0 auto;
}

/* about */
.about{
  display:flex;
}
.about__text{
  margin-bottom:192px;
  margin-right:9.72vw;
  width:100%;
}
.about__text h3{
  padding:48px 0 24px 0;
}
.about-name{
  padding:48px 0 24px 0;
}
.about__profile{
  font-family: 'Noto Sans JP', sans-serif;
}
.links{
  display:flex;
}
.links li a{
  margin-right:24px;
}

.about__photo{
  width:100%;
  text-align: center;
}
.about__photo img{
  width:91%;
}

.content__01{
  width:100vw;
  margin: 0 calc(50% - 50vw);
}
.content__01 img{
  width:100%;
  height:452px;
  object-fit:cover;
}


/* work */
.works__card{
  display:flex;
}
.works__card img{
  margin:48px 0 12px 0;
  width:100%;
}
.works__card p{
  font-size:14px;
  font-family: 'Noto Sans JP', sans-serif;
}
.works__card-left{
  margin-right:12px;
}
.works__slider{
  margin-top:96px;
}
.works__slider >p{
  font-size:28px;
  font-weight:bold;
}
.works__slider-photo{
  overflow-x:scroll;
  width:100%;
}
.works__slider-photo::-webkit-scrollbar{
  display: none;
}
.works__slider-photo ul{
  display:flex;
  width:100vw;
}
.works__slider-photo ul li{
  flex-shrink:0;
  margin-right:48px;
  font-family: 'Noto Sans JP', sans-serif;
}
.works__slider-photo ul li img{
  width:100%;
  height:auto;
}
.works__slider-photo ul li p{
  margin-top:12px;
  font-size:14px;
}
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 calc(50% - 50vw);
  text-align: center;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}

.modal-container.active{
  opacity: 1;
  visibility: visible;
}
.modal-body{
	position: relative;
	display: inline-block;
	vertical-align: middle;
  height:700px;
	width: 34%;
}
.modal-content{
  width:100%;
  background-color:#fff;
}
.modal-title{
  font-size:46px;
  font-weight:bold;
}
.modal-img{
  width:90%;
}
.modal-img img{
  width:100%;
}
.modal-close{
	display: flex;
    align-items: center;
    justify-content: center;
	top: -40px;
	right: -40px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}

.modal-mask{
  background-color:rgba(0,0,0,50%);
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:none;
  z-index:-1;
}
.modal-mask.active{
  display:block;
}


/* service */
.service{
  margin-bottom:192px;
}
.service__text{
  display:flex;
  margin-top:53px;
}
.service__text h3{
  margin-bottom:39px;
}
.service__text p{
  font-family: 'Noto Sans JP', sans-serif;
}
.service__left{
  margin-right:14%;
  width:100%;
}
.service__right{
  width:100%;
}
.service__link{
  text-align: right;
  margin-top:27px;
}
.content__02{
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}
.content__02 img{
  width:100%;
  height:452px;
  object-fit:cover;
}


/* blog */
.blog{
  margin-bottom:96px;
}
.blog__box p{
  font-size:16px;
  margin:24px 0 15px 0;
}
.border{
  border-bottom:solid 2px #000000;
}
.border:hover{
  border:none;
}
.blog__list{
  display:flex;
}
.blog__contents{
  width:calc(92%/3);
}
.blog__contents img{
  width:100%;
  height:180px;
  object-fit: cover;
}
.blog__title{
  margin:15px 0 12px 0;
}
.day{
  font-size:12px;
  font-family: 'Noto Sans JP', sans-serif;
}
.blog__text{
  margin:24px 0;
  font-family: 'Noto Sans JP', sans-serif;
}
.blog__contents ul{
  display:flex;
  justify-content: flex-end;
}
.blog__contents ul li{
  margin-right:5.7%;
  font-family: 'Noto Sans JP', sans-serif;
}
.left{
  margin-right:4%;
}
.center{
  margin-right:4%;
}
.tag-color{
  background-color:#eeeeee;
  padding:2px 7px 2px 7px;
}


/* FOOTER
------------------------------------------ */
.footer{
  width:90%;
  margin-top:192px;
  margin: 0 auto;
}
.contact__text{
  width:100%;
  border:#eeeeee solid 1px;
  border-left:none;
  border-right:none;
  display:flex;
}
.contact__left{
  padding-top:96px;
  width:100%;
}
.contact__left h3{
  text-align:center;
  margin-bottom:25px;
}
.contact__left p{
  text-align:center;
}
.contact__right{
  width:100%;
  padding:96px 0;
}
.contact__button{
  width:240px;
  height:48px;
  margin:0 auto;
  background-color:#333333;
}
.mail{
  margin-bottom:24px;
  }
.contact__button p{
  color:#ffffff;
  padding:10px 0 10px 24px;
}
.copywriter p{
  font-size:14px;
  text-align: center;
  padding-top:24px;
}




/* ===========================================
 *ページ共通
 * ======================================== */

.pages-mv{
  background-image:url(../images/mv_poster.jpg);
  height:320px;
  position:relative;
}
.pages-mv h1{
  position:absolute;
  top:160px;
  left:50%;
  transform: translateX(-50%);
}
.work-page-mv{
  background-image:none;
  height:126px;
}



/* ===========================================
 *about-html
 * ======================================== */

.about-page__photo{
  width:100%;
}
.about-page__photo img{
  width:100%;
  height:602px;
  object-fit: cover;
}
.about-page__sns {
  display: -webkit-box;
  display: -ms-flexbox;
}
.about-page__sns li {
  margin:0 0.8vw;
}

.about-flex{
  display: flex;
  flex-direction:column-reverse;
  margin-bottom: 192px;
}
.about-flex p{
  font-family: 'Noto Sans JP', sans-serif;
}
.about-page__text{
  margin-top:67px;
}
.about-page__text__content{
  margin-top:48px;
}
.about-page__text__content h3{
  margin-bottom:24px;
}
.about-page__text__content table{
  border-spacing:0 18px;
}
.about-page__text__content tr td{
  font-family: 'Noto Sans JP', sans-serif;
  vertical-align: top;
}
.about-page__skill__table{
  display:flex;
}
.about-page__skill__table table{
  border-spacing:0 8px;
}
.about-page__skill__table__design{
  margin-right:15.7vw;
}
.strength-border{
  border-bottom:solid #333333 2px;
}
.btn{
  width:267px;
  height:63px;
  margin:48px auto 0 auto;
  border:solid #000000 2px;
  border-radius: 10px;
  position:relative;
}
.btn p{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-weight:bold;
  white-space:nowrap;
}




/* ===========================================
 *blog-html
 * ======================================== */
.blog-page{
  margin-bottom:200px;
}
.blog__box h2{
  margin-bottom:96.5px;
}
.blog-page__list{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  row-gap: 48px;
  column-gap:2.3vw;
}
.blog-page__contents img{
  width:100%;
  height:180px;
  object-fit: cover;
}
.blog-page__contents ul{
  display:flex;
  justify-content: flex-end;
}
.blog-page__contents ul li{
  margin-right:0.8vw;
  font-family: 'Noto Sans JP', sans-serif;
}




/* ===========================================
 *service-html
 * ======================================== */
.service__page h2{
  margin-bottom:29px;
}
.service__content__item p{
  font-family: 'Noto Sans JP', sans-serif;
}
.service__content__item h3{
  margin-bottom:20px;
}
.service__page-img{
  display:flex;
  margin-top:60px;
}
.service__page-img img{
  width:100%;
  object-fit: cover;
}
.service__page-img-service1{
  width:100%;
  margin-right:5px;
}
.service__page-img-service2{
  width:100%;
}
.service__content__item--second{
  margin-top:72px;
}
.service__page-img--two{
  width:100%;
}
.service__page-img--two{
  margin-right:6px;
}
.service__page-img--two img{
  height:330px;
}
.service__page-img--two > img{
  margin-bottom:6px;
}
.service__page-img--one{
  width:100%;
}
.service__page-img--one img{
  height:666px;
}



/* ===========================================
 *works-html
 * ======================================== */
.works__container{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  width:100%;
  margin-top:85px;
}
.works__container__item{
  width:100%;
  position:relative;
}
.works__container__item img{
  width:100%;
  height:316px;
  object-fit: cover;
}
.works__container__item__description{
  position:absolute;
  top:0;
  bottom:0;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  background-color: rgba(0, 0, 0, 0.5);
  width:100%;
  opacity:0;
}
.works__container__item__description h4{
font-size:initial;
font-size:24px;
}

.works__container__item__description__text p{
  color:#fff;
}
.size-up{
  font-size:24px;
}
.works__container__item__description:hover{
  opacity:1;
}
.works__container__item__description__text{
  text-align:center;
}
.works-page-slider{
  margin-bottom:202px;
}




/* ===========================================
 *work-html
 * ======================================== */
 .work{
  margin-top:inherit;
 }
 .work h2{
  margin-bottom:42px;
  text-align:center;
 }
.work__box{
  display:flex;
}
.work__box__img{
  width:100%;
  height:auto;
  margin-right:6.6vw;
}
.work__box__img img{
  width:100%;
}
.work__box__description{
  width:100%;
}
.work__box__description dt{
  font-size:20px;
  font-weight:bold;
  margin-bottom:17px;
}
.work__box__description dd{
  font-size:13px;
  font-family: 'Noto Sans JP', sans-serif;
}
.work__box__description__list-border{
  border-left:solid #707070 1px;
  padding: 5px 0 5px 8.5px;
}
.heigh-border {
  height:213px;
}
.work__box__description__btn{
  border:2px #000 solid;
  border-radius:10px;
  width:267px;
  height:63px;
  position:relative;
  margin:24px auto;
  box-shadow:2px 2px 2px 2px #dadada;
}
.work__box__description__btn p{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-weight:bold;
  white-space:nowrap;
}
.work__box__text__note p{
  font-size:13px;
  font-family: 'Noto Sans JP', sans-serif;
}
.work__btn{
  border:2px solid #000;
  border-radius:10px;
  width:267px;
  height:63px;
  margin:95px auto 192px auto;
  position:relative;
  box-shadow: 2px 2px 2px 2px #dadada;
}
.work__btn p{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-weight:bold;
  white-space:nowrap;
}






@-webkit-keyframes menu {
  from {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes menu {
  from {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}




/* ---------Tablet版-------- */

@media screen and (max-width: 768px) {

  .pc{
    display:none;
  }
  .tb{
    display:block;
  }
  .sp{
    display:none;
  }

  /* ===========================================
 *index-html
 * ======================================== */
  .header {
    background-color: #fff;
  }
  .header__inner{
    justify-content:space-between;
    padding:30px 2.8% 0 2.8%;
  }
  .header__logo h1{
    margin-top:0;
  }
  .header__list {
    display: none;
  }
  .header__sns {
    display: none;
  }
  .header__hamburger {
    display: block;
  }
  .header__nav{
    background-color:#fff;
  }
  .mv__text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    white-space:nowrap;
  }
  .about__text{
    margin-right:4.9vw;
  }

   /* ===========================================
 *about-html
 * ======================================== */
 .about-page__skill__table__design{
  margin-right:2.9%;
 }

    /* ===========================================
 *blog-html
 * ======================================== */
 .blog-page{
  margin-bottom:96px;
 }
 .blog__box h2{
  margin-bottom:34px;
}
 .blog-page__list{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  row-gap:24px;
  column-gap:4.42%;
 }
 .blog-page__contents ul li{
  margin-right:1.5vw;
  font-family: 'Noto Sans JP', sans-serif;
}


/* ===========================================
 *service-html
 * ======================================== */
 .service__page{
  margin-bottom:95px;
  margin-top:73px;
 }
 .service__page-img{
  flex-direction:column;
  margin-top:77px;
 }
 .service__page-img-service1{
  margin-right:0;
  margin-bottom:8px;
 }
 .service__page-img--two > img{
  margin-bottom:8px;
 }
 .service__content__item--second{
  margin-top:57px;
 }


 /* ===========================================
 *works-html
 * ======================================== */
 .works__page{
  margin-top:89px;
 }
 .works__container{
  column-gap: 2px;
  margin-top:43px;
 }
 .works-page-slider{
  margin-bottom:96px;
 }



  /* ===========================================
 *work-html
 * ======================================== */
 .work-page-mv{
  background-image:none;
  height:117px;
}

 .work__box__img{
  margin-right:11vw;
 }
 .work__box__description dt{
  font-size:17px;
 }
 .work__box__description dd{
  font-size:10px;
 }
 .work__box__description__btn{
  width:79%;
  height:57px;
 }
 .work__box__description__btn p{
  font-size:11px;
 }
 .work__box__description__note p{
  font-size:10px;
 }
 .work__btn{
  margin:82px auto 125px auto;
 }
}












/* ----------SP版---------- */
@media screen and (max-width: 480px) {
  .pc{
    display:none;
  }
  .tb{
    display:none;
  }
  .sp{
    display:block;
  }


/* ===========================================
 *index-html
 * ======================================== */


/* MV
------------------------------------------ */
  .mv__text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    white-space:nowrap;
  }
  .mv__text h1{
    font-size:40px;
  }
  .mv__text br{
    display: none;
  }


/* MAIN
------------------------------------------ */
  .main{
    width:90%;
  }

  /* about */
  .about{
    display:block;
  }
  .about__text{
    margin-bottom:53px;
    }
  .about__text h3{
    padding:48px 0 12px 0;
  }
  .about__photo{
    margin:auto;
  }
  .about__photo img{
    width:100%;
    height:auto;
  }
  .content__01{
    margin-top:120px;
  }

  /* works */
  .works{
    margin-top:117px;
  }
  .works__card{
    display:block;
  }
  .works__card img{
    width:100%;
    height:auto;
  }
  .works__card-left img{
    padding:0;
    margin-top:77px;
  }
  .work__slider{
    margin-top:72px;
  }
  .service{
    margin-top:96px;
  }
  .service__text{
    display:block;
    margin-top:78px;
  }
  .service__text h3{
    margin-bottom:26px;
  }
  .service__left{
    margin:auto;
    margin-bottom:50px;
  }

  /* blog */
  .blog{
    margin-top:72px;
  }
  .blog__box p{
    text-align:right;
    margin:10px 0 24px 0;
  }
  .blog__list{
    display:block;
  }
  .blog__contents{
    width:100%;
  }
  .blog__contents img{
    width:100%;
    height:180px;
  }
  .center{
    margin:48px 0;
  }


/* FOOTER
------------------------------------------ */
  .contact__text{
    display:block;
    width:100%;
    height:auto;
  }
  .contact__right{
    margin:auto;
    padding:48px 0 120px 0;
}
.contact__button{
  margin:0 auto;
}
.mail{
  margin-bottom:22px;
}



/* ===========================================
 *about-html
 * ======================================== */
.pages-mv h1{
  font-size:70px;
}
.about-page__skill__table{
  display:block;
}
.about-page__skill__table__design{
  margin-right:0;
  margin-bottom:48px;
}


/* ===========================================
 *blog-html
 * ======================================== */
.blog-page{
  margin-top:48px;
  margin-bottom:0;
}
.blog-page__list{
  display:block;
}
.blog-page__contents{
  margin-bottom:40px;
}
.blog-page__list > :last-child{
  margin-bottom:48px;
}


/* ===========================================
 *service-html
 * ======================================== */
 .service__page{
  margin:48px 0;
 }
 .service__page-img{
  flex-direction:column;
  margin-top:48px;
 }
 .service__page-img--two > img{
  margin-bottom:11px;
 }
 .service__content__item h3{
  margin-top:24px;
 }
 .service__content__item--second{
  margin-top:48px;
 }


 /* ===========================================
 *works-html
 * ======================================== */
 .works__page{
  margin-top:48px;
 }
 .works__container{
  display:block;
  margin-top:34px;
 }
 .works__container a{
  display:inline-block;
 }

 .works__container > :first-child{
  margin-bottom:0;
 }
 .works__container > :nth-child(2){
  margin-bottom:28px;
 }
 .works__container > :nth-child(3){
  margin-bottom:15px;
 }
 .works__container > :nth-child(4){
  margin-bottom:15px;
 }
.works__container > :last-child{
  display:none;
}
.works-page-slider{
  margin-bottom:42px;
}


 /* ===========================================
 *work-html
 * ======================================== */
 .work-page-mv{
  background-image:none;
  height:102px;
}

 .work__box{
  flex-direction:column;
 }
 .work__box__img{
  margin-bottom:48px;
 }
 .work__box__description dt{
  font-size:20px;
 }
 .work__box__description dd{
  font-size:13px;
 }
 .work__box__description__btn{
  width:90%;
  height:63px;
 }
 .work__box__description__btn p{
  font-size:14px;
 }
 .work__box__description__note p{
  font-size:13px;
 }
 .work__btn{
  margin:48.5px auto 48px auto;
 }

}